*.iml
*.bak
*.orig
.gradle
/local.properties
/.idea/assetWizardSettings.xml
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
.DS_Store
/build
/captures
.externalNativeBuild
API_KEY.txt
shared_resources/src/main/jni
shared_resources/src/main/java/com/thewizrd/shared_resources/keys/Keys.java
app/debug
app/release
wearapp/debug
wearapp/release