*.iml
*.bak
*.orig
.gradle
/local.properties
/.idea/assetWizardSettings.xml
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
.DS_Store
/build
/captures
.externalNativeBuild
API_KEY.txt
shared_resources/.cxx
shared_resources/src/main/jni
shared_resources/src/main/java/com/thewizrd/shared_resources/keys/Keys.java
app/debug
app/release
app/google-services.json
app/src/*/google-services.json
wearapp/debug
wearapp/release
wearapp/google-services.json
wearapp/src/*/google-services.json
/keycheck.bat
/keycheck.ps1
/ImportTranslations.bat
/secure.properties
extrafeatures