<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.thewizrd.simpleweather">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".App"
        android:allowBackup="${allowBackup}"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/WearAppTheme.Launcher"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="android.support.wearable.activity.ConfirmationActivity" />
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity android:name=".LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".setup.SetupActivity"
            android:theme="@style/WearAppTheme" />
        <activity
            android:name=".setup.SetupSyncActivity"
            android:theme="@style/WearAppTheme" />
        <!--
         NOTE: Handle keyboard config changes as a workaround for odd inset issue which occurs
         on the BottomNavigationView; Plus the keyboard won't open in this activity anyway
         -->
        <activity
            android:name=".main.MainActivity"
            android:label="MainActivity"
            android:theme="@style/WearAppTheme"
            android:configChanges="keyboardHidden" />
        <activity
            android:name=".preferences.SettingsActivity"
            android:theme="@style/WearSettingsTheme" />

        <service
            android:name=".wearable.WearableDataListenerService"
            android:enabled="true">

            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <action android:name="com.google.android.gms.wearable.CAPABILITY_CHANGED" />

                <data
                    android:scheme="wear"
                    android:host="*" />
            </intent-filter>
        </service>

        <receiver
            android:enabled="true"
            android:exported="true"
            android:name=".receivers.WeatherUpdateBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <service
            android:icon="@drawable/ic_logo_stroke"
            android:label="Weather"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER"
            android:name=".wearable.WeatherComplicationService">
            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,LONG_TEXT" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="0" />

            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>
        </service>

        <service
            android:icon="@mipmap/ic_launcher_round"
            android:label="Weather"
            android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER"
            android:exported="true"
            android:name=".wearable.WeatherTileProviderService">
            <meta-data
                android:name="com.google.android.clockwork.tiles.UPDATE_PERIOD_SECONDS"
                android:value="0" />

            <intent-filter>
                <action android:name="com.google.android.clockwork.ACTION_TILE_UPDATE_REQUEST" />
            </intent-filter>
        </service>

        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync|location"
            tools:node="merge" />

        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />
        <activity
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="false" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
</manifest>