<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.thewizrd.simpleweather">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Wallpaper -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission
        android:name="com.android.alarm.permission.SET_ALARM"
        android:maxSdkVersion="18" />

    <application
        android:name=".App"
        android:allowBackup="${allowBackup}"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Launcher"
        tools:targetApi="n">
        <activity
            android:name=".LaunchActivity"
            android:theme="@style/AppTheme.Launcher"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".setup.SetupActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/SetupTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing"
            android:resizeableActivity="true" />
        <activity
            android:name=".main.MainActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:finishOnTaskLaunch="true"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_weather_now"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing"
            android:resizeableActivity="true" />
        <activity
            android:name=".widgets.WeatherWidgetConfigActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_widget_config"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing"
            android:exported="true"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".widgets.WeatherWidgetProvider1x1"
            android:label="@string/label_widget_weather_1x1"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_1x1_info" />
        </receiver>
        <receiver
            android:name=".widgets.WeatherWidgetProvider2x2"
            android:label="@string/label_widget_weather_clock_2x2"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_2x2_info" />
        </receiver>
        <receiver
            android:name=".widgets.WeatherWidgetProvider4x1"
            android:label="@string/label_widget_weather_4x1"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_4x1_info" />
        </receiver>
        <receiver
            android:name=".widgets.WeatherWidgetProvider4x2"
            android:label="@string/label_widget_weather_clock_4x2"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_4x2_info" />
        </receiver>
        <receiver
            android:name=".widgets.WeatherWidgetProvider4x1Google"
            android:label="@string/label_widget_weather_date_4x1"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_4x1_google_info" />
        </receiver>
        <receiver
            android:name=".widgets.WeatherWidgetProvider4x1Notification"
            android:label="@string/label_widget_weather_4x1"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_4x1_notification_info" />
        </receiver>
        <receiver
            android:name=".widgets.WeatherWidgetProvider4x2Clock"
            android:label="@string/label_widget_weather_clock_4x2"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_4x2_clock_info" />
        </receiver>
        <receiver
            android:name=".widgets.WeatherWidgetProvider4x2Huawei"
            android:label="@string/label_widget_weather_clock_4x2"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_4x2_huawei_info" />
        </receiver>
        <receiver
            android:name=".widgets.WeatherWidgetProvider2x2MaterialYou"
            android:label="@string/label_widget_weather_2x2"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_2x2_materialu_info" />
        </receiver>
        <receiver
            android:name=".widgets.WeatherWidgetProvider2x2PillMaterialYou"
            android:label="@string/label_widget_weather_2x2"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_2x2_pill_materialu_info" />
        </receiver>
        <receiver
            android:name=".widgets.WeatherWidgetProvider4x2MaterialYou"
            android:label="@string/label_widget_weather_4x2"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_4x2_materialu_info" />
        </receiver>
        <receiver
            android:name=".widgets.WeatherWidgetProvider4x4MaterialYou"
            android:label="@string/label_widget_weather_4x4"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_4x4_materialu_info" />
        </receiver>
        <receiver
            android:name=".widgets.WeatherWidgetProvider4x3Locations"
            android:label="@string/label_widget_weather_clock_4x3"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_4x3_locations_info" />
        </receiver>
        <receiver
            android:name=".widgets.WeatherWidgetProvider3x1MaterialYou"
            android:label="@string/label_widget_weather_3x1"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_3x1_materialu_info" />
        </receiver>
        <receiver
            android:name=".widgets.WeatherWidgetProvider4x2ForecastGraph"
            android:label="@string/label_widget_weather_forecast_4x2"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_4x2_graph_info" />
        </receiver>
        <receiver
            android:name=".widgets.WeatherWidgetProvider4x2Tomorrow"
            android:label="@string/label_widget_weather_clock_4x2"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_4x2_tomorrow_info" />
        </receiver>
        <receiver
            android:name=".notifications.WeatherAlertNotificationBroadcastReceiver"
            android:enabled="@bool/enable_alertnotifservice"
            android:exported="false">
            <intent-filter>
                <action android:name="SimpleWeather.Droid.action.CANCEL_NOTIFICATION" />
                <action android:name="SimpleWeather.Droid.action.CANCEL_ALL_NOTIFICATIONS" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.WeatherUpdateBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.DebugModeReceiver"
            android:directBootAware="false"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="SimpleWeather.Droid.action.DEBUG_MODE_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".notifications.WeatherAlertNotificationService"
            android:enabled="@bool/enable_alertnotifservice"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".services.UpdaterTimerService"
            android:exported="false"
            android:process=":widget" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />

        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync|location"
            tools:node="merge" />

    </application>

</manifest>